<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Ronnie's Blog">
    <meta name="keywords" content="ronniegnr, blog, ronnie">

    <title>Ronnie's Blog</title>

    <!-- FAV and TOUCH ICONS -->
    <link rel="shortcut icon" th:href="@{/img/ico/favicon.ico}">

    <!-- TODO: egulo add korte hobe -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/img/ico/logo-144.png}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{/img/ico/logo-114.png}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/img/ico/logo-72.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/img/ico/logo-57.png}">

    <!-- FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=UnifrakturMaguntia' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Coustard' rel='stylesheet' type='text/css'>

    <!-- TODO egulo paua jai nai -->
    <!--[if lte IE 9]>
    <script th:src="@{/js/html5shiv.js}"></script>
    <script th:src="@{/js/selectivizr-min.js}"></script>
    <![endif]-->

    <!-- STYLES -->
    <link rel="stylesheet" type="text/css" media="print" th:href="@{/css/print.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/grid.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/js/google-code-prettify/prettify.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/uniform.default.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/flexslider.css}">

    <!-- SCRIPTS -->
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.8.3.min.js"><\/script>')</script>

    <!-- syntax highlighter -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

</head>


<body>

<!-- #PAGE -->
<div id="page" class="hfeed site">

    <!-- header -->
    <div th:replace="fragment/header :: header"></div>
    <!-- /header -->

    <!-- main -->
    <section id="main" class="middle wrapper">
        <div class="row row-fluid">
            <div id="primary" class="site-content">
                <div id="content" role="main">

                    <div layout:fragment="content"></div>

                </div>
            </div>
        </div>
    </section>
    <!-- /main -->

    <!-- footer -->
    <div th:replace="fragment/footer :: footer"></div>
    <!-- /footer -->

</div>


<!-- SCRIPTS -->
<script th:src="@{/js/detectmobilebrowser.js}"></script>
<script th:src="@{/js/modernizr.js}"></script>
<script th:src="@{/js/jquery.imagesloaded.min.js}"></script>
<script th:src="@{/js/jquery.fitvids.js}"></script>
<script th:src="@{/js/google-code-prettify/prettify.js}"></script>
<script th:src="@{/js/jquery.uniform.min.js}"></script>
<script th:src="@{/js/main.js}"></script>

</body>
</html>