<html xmlns:th="http://www.thymeleaf.org">

<!-- Widget [Popular Posts Widget] -->
<div th:fragment="popular_posts_widget" class="widget latest-posts">
    <header>
        <h3 class="h6">Popular Posts</h3>
    </header>
    <div class="blog-posts"><a href="#">
        <div class="item d-flex align-items-center">
            <div class="title"><strong>Alberto Savoia Can Teach You About</strong>
                <div class="d-flex align-items-center">
                    <div class="views"><i class="icon-eye"></i> 500</div>
                    <div class="comments"><i class="icon-comment"></i>12</div>
                </div>
            </div>
        </div>
    </a><a href="#">
        <div class="item d-flex align-items-center">
            <div class="title"><strong>Alberto Savoia Can Teach You About</strong>
                <div class="d-flex align-items-center">
                    <div class="views"><i class="icon-eye"></i> 500</div>
                    <div class="comments"><i class="icon-comment"></i>12</div>
                </div>
            </div>
        </div>
    </a><a href="#">
        <div class="item d-flex align-items-center">
            <div class="title"><strong>Alberto Savoia Can Teach You About</strong>
                <div class="d-flex align-items-center">
                    <div class="views"><i class="icon-eye"></i> 500</div>
                    <div class="comments"><i class="icon-comment"></i>12</div>
                </div>
            </div>
        </div>
    </a></div>
</div>

</html>