<html xmlns:th="http://www.thymeleaf.org">

<!-- Widget [Tags Widget]-->
<div th:fragment="tags_widget" class="widget categories">
    <header>
        <h3 class="h6">Tags</h3>
    </header>
    <div class="item d-flex justify-content-between"><a href="#">Java</a><span>12</span></div>
    <div class="item d-flex justify-content-between"><a href="#">Spring Boot</a><span>25</span></div>
    <div class="item d-flex justify-content-between"><a href="#">Microservice</a><span>8</span></div>
    <div class="item d-flex justify-content-between"><a href="#">Kotlin</a><span>17</span></div>
    <div class="item d-flex justify-content-between"><a href="#">Local</a><span>25</span></div>
</div>

</html>