<html xmlns:th="http://www.thymeleaf.org">

<!-- header -->
<header class="site-header wrapper" role="banner" th:fragment="header">
    <div class="row">
        <hgroup>
            <h1 class="site-title">
                <a th:href="@{/}" title="Ronnie's Blog" rel="home">Ronnie's Blog</a>
            </h1>
        </hgroup>
        <nav id="site-navigation" class="main-navigation" role="navigation">
            <ul>
                <li class="current-menu-item"><a th:href="@{/}">Home</a></li>
                <li>
                    <form role="search" method="get" id="search-form" action="#">
                        <label class="screen-reader-text" for="search">Search</label>
                        <input type="text" value="" name="s" id="search" title="Enter keyword">
                        <input type="submit" id="search-submit" title="Search it" value="→">
                    </form>
                </li>
                <li><a th:href="@{/}">Contact</a></li>
                <li><a th:href="@{/}">About</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- /header -->