<html xmlns:th="http://www.thymeleaf.org">

<nav class="post-pagination" th:fragment="pager(pager)">
    <ul class="pagination" th:if="${pager.pageCount > 0}">
        <li class="pagination-first">
            <a th:href="@{${pager.firstPageUrl}}"> First </a>
        </li>
        <li class="pagination-prev">
            <a th:href="@{${pager.previousPageUrl}}" rel="prev"> « </a>
        </li>
        <li class="pagination-num" th:each="index: ${#numbers.sequence(0, pager.pageCount - 1)}" th:class="${index == pager.currentPage} ? 'current'">
            <a href="#" th:href="@{${pager.url} + ${index}}" th:text="${index} + 1"></a>
        </li>
        <li class="pagination-next">
            <a th:href="@{${pager.nextPageUrl}}" rel="next"> » </a>
        </li>
        <li class="pagination-last">
            <a th:href="@{${pager.lastPageUrl}}"> Last </a>
        </li>
    </ul>
</nav>