<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
<head>
    <title>Blog</title>
</head>
<body>

<!-- blog-posts -->
<div class="blog-posts readable-content" layout:fragment="content">

    <!-- posts -->
    <article class="post type-post hentry" th:each="blogHomePost : ${blogHomePagedPosts.blogHomePosts}">
        <header class="entry-header">
            <h1 class="entry-title">
                <a rel="bookmark" th:href="@{${blogHomePagedPosts.postDetailURLPart} + ${blogHomePost.id}}" th:title="${blogHomePost.title}" th:text="${blogHomePost.title}"></a>
            </h1>
        </header>
        <footer class="entry-meta">
            posted in <a href="#" title="View all posts in Spring Boot">Spring Boot</a> on <a href="#" title="11:15 pm" rel="bookmark">
            <time class="entry-date" datetime="2012-11-09T23:15:57+00:00">November 9, 2020</time>
        </a>
            <span class="by-author">by <span class="author vcard"><a class="url fn n" href="#" th:title="'View all posts by ' + ${blogHomePost.author}" rel="author" th:text="${blogHomePost.author}"></a></span></span>
        </footer>
        <div class="entry-content">
            <div th:utext="${blogHomePost.topSummary}" th:remove="tag"></div>
            <a class="more-link" th:href="@{${blogHomePagedPosts.postDetailURLPart} + ${blogHomePost.id}}" th:title="'Continue reading ' + ${blogHomePost.title}">Continue reading <span class="meta-nav">→</span></a></p>
        </div>
    </article>
    <!-- /posts -->

    <!-- pager -->
    <div th:replace="fragment/pager :: pager(${blogHomePagedPosts.pager})"></div>
    <!-- /pager -->

</div>
<!-- /blog-posts -->

</body>
</html>