<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>Blog</title>
</head>
<body>

        <div class="row" layout:fragment="content">
            <main class="posts-listing col-lg-8">
                <div class="container">
                    <div class="row">

                        <!-- post -->
                        <div class="post col-xl-6" th:each="blogHomePost : ${blogHomePagedPosts.blogHomePosts}">
                            <div class="post-details">
                                <a href="post.html"><h3 class="h4" th:text="${blogHomePost.title}"></h3></a>
                                <p class="text-muted" th:text="${blogHomePost.topSummary}"></p>
                                <div class="post-footer d-flex align-items-center">
                                    <a href="#" class="author d-flex align-items-center flex-wrap">
                                        <div class="title"><span th:text="${blogHomePost.author}"></span></div>
                                    </a>
                                    <div class="date" th:text="${blogHomePost.createdAt}"></div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div th:replace="fragment/pager :: pager">
                        pagination will be replaced here
                    </div>

                </div>
            </main>

            <aside class="col-lg-4">

                <div th:replace="fragment/client/search_widget :: search_widget">
                    search widget will be replaced here
                </div>

                <div th:replace="fragment/client/popular_posts_widget :: popular_posts_widget">
                    popular posts will be replaced here
                </div>

                <div th:replace="fragment/client/tags_widget :: tags_widget">
                    tags widget will be replaced here
                </div>

            </aside>

        </div>

</body>
</html>