<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <title>Blog</title>
</head>
<body>

<!-- blog-posts -->
<div class="blog-posts readable-content" layout:fragment="content">

    <!-- posts -->
    <article class="post type-post hentry" th:each="blogHomePost : ${blogHomePagedPosts.blogHomePosts}">
        <header class="entry-header">
            <h1 class="entry-title">
                <a rel="bookmark" th:href="@{${blogHomePagedPosts.postDetailURLPart} + ${blogHomePost.id}}" th:title="${blogHomePost.title}" th:text="${blogHomePost.title}"></a>
            </h1>
        </header>
        <div class="entry-meta">
            posted <!--in <a th:href="@{/}" title="View all posts in Spring Boot">Spring Boot</a> -->on
            <time class="entry-date" th:datetime="${blogHomePost.postDate}" th:text="${blogHomePost.postDate}"></time>
            <span class="by-author">by <span class="author vcard"><a class="url fn n" th:href="@{/}" th:title="'View all posts by ' + ${blogHomePost.authorName}" rel="author" th:text="${blogHomePost.authorName}"></a></span></span>
        </div>
        <div class="entry-content">
            <!--<div th:utext="${blogHomePost.topSummary}" th:remove="tag"></div>-->
            <!--<a class="more-link" th:href="@{${blogHomePagedPosts.postDetailURLPart} + ${blogHomePost.id}}" th:title="'Continue reading ' + ${blogHomePost.title}">Continue reading <span class="meta-nav">→</span></a></p>-->
        </div>
    </article>
    <!-- /posts -->

    <!-- pager -->
    <div th:replace="fragment/pager :: pager(${blogHomePagedPosts.pager})"></div>
    <!-- /pager -->

</div>
<!-- /blog-posts -->

</body>
</html>