<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <title>Blog</title>
</head>
<body>

<!-- post -->
<div class="blog-single readable-content" layout:fragment="content">
    <article class="post type-post format-standard hentry">
        <header class="entry-header">
            <h1 class="entry-title" th:text="${postDetail.title}">Use MySQL in a Spring Boot application</h1>
        </header>
        <div class="entry-meta">
            posted <!--in <a th:href="@{/}" title="View all posts in Spring Boot">Spring Boot</a> -->on
            <time class="entry-date" th:datetime="${postDetail.postDate}" th:text="${postDetail.postDate}"></time>
            <span class="by-author">by <span class="author vcard"><a class="url fn n" th:href="@{/}" th:title="'View all posts by ' + ${postDetail.authorName}" rel="author" th:text="${postDetail.authorName}"></a></span></span>
        </div>

        <!-- post content -->
        <div class="entry-content" th:utext="${postDetail.content}"></div>
        <!-- /post content -->

        <!-- tags -->
        <!--<footer class="entry-meta"><a href="#" rel="tag">design</a>, <a href="#" rel="tag">responsive</a>, <a href="#" rel="tag">think</a></footer>-->
        <!-- /tags -->

    </article>

    <!-- next-prev posts -->
    <!--<nav class="nav-single row-fluid">
        <div class="nav-previous span6">
            <h4>PREVIOUS POST</h4>
            <a href="#" rel="prev"><span class="meta-nav">←</span> Adding A Personal Touch To Your Web Design</a>
        </div>
        <div class="nav-next span6">
            <h4>NEXT POST</h4>
            <a href="#" rel="next">How To Build Long-Term Client Relationships <span class="meta-nav">→</span></a>
        </div>
    </nav>-->
    <!-- /next-prev posts -->

</div>

</body>
</html>